include README.md
include COPYING.txt
include LICENSE.txt
include ldoce5viewer.py
include ldoce5viewer.desktop
include ldoce5viewer.appdata.xml
include scripts/ldoce5viewer
recursive-include ldoce5viewer/static *
recursive-include ldoce5viewer/qtgui/resources *
recursive-include ldoce5viewer/qtgui/ui *
